@font-face
{
    font-family: calculator;
    src: url("fonts/calculator.ttf");
}

@font-face
{
    font-family: bd-miami;
    src: url("fonts/bd-miami.ttf");
}
.page-wrapper
{
    background-color: lightskyblue;
    width: 96vw;
    margin: 0 auto;
}

button
{
    width: 100%;
    height: 100%;
    background-color: inherit;
    align-content: center;
    font-family: bd-miami;
    font-size: 4vw;
    color: rgb(255, 133, 239);
    text-shadow: .5vw .5vw rgb(19, 12, 6);
}

#calculator-body
{
    position: relative;
    background-color: rgb(92, 27, 91);
    /*background-color: rgb(32, 61, 93);*/
    width: 50vw;
    height: 70vw;
    margin: 0 auto;
}

#solar-panels
{
    position: relative;
    top: 2vw;
    width: 90%;
    height: 10%;
    margin: 0 auto;
}

.solar-panel
{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border: .5vw solid rgb(82, 68, 67);
    background-color: black;
    float: left;
    display: inline-block;
}

#display
{
    font-family: calculator;
    width: 90%;
    height: 12%;
    margin: 4vw auto 0 auto;
    background-color: lightgray;
    /*background-color: rgb(73, 62, 68);*/
    border: .5vw solid rgb(32, 61, 93);
    box-sizing: border-box;
    text-align: right;
}
#display-record
{
    opacity: 1;
    transition-duration: 2s;
    /*border: .1vw solid red;*/
    box-sizing: border-box;
    height: 34%;
    width: 100%;
    font-size: 2.5vw;
    padding-right: 6vw;
}

#display-current
{
    opacity: 1;
    transition-duration: 2s;
    /*border: .1vw solid blue;*/
    box-sizing: border-box;
    height: 66%;
    width: 100%;
    font-size: 5vw;
    padding-right: 0.5vw;
}

#solar-panels:hover+#display>#display-record,
#solar-panels:hover+#display>#display-current
{
    opacity: 0.2;
    transition-duration: 2s;
}

#miami-label
{
    position: absolute;
    font-family: bd-miami;
    color: rgb(90, 238, 224);
    left: 29.7vw;
    top: 18vw;
    font-size: 4vw;
}

.far-left-button
{
    margin-left: 0;
    margin-right: 1%;
    float: left;
}

.far-right-button
{
    margin-left: 1%;
    margin-right: 0;
    float: right;
}

#clear-buttons
{
    width: 90%;
    height: 7.6%;
    margin: 3vw auto 0 auto;
}

.clear-button
{
    display: inline-block;
    width: 49%;
    height: 100%;
    float: left;
    border: .5vw solid rgb(32, 61, 93);
    background-color: rgb(90, 238, 224);
    box-sizing: border-box;
}

.clear-button>button
{
    color: rgb(255, 133, 239);
    text-shadow: .5vw .5vw rgb(19, 12, 6);
}

.clear-button span
{
    opacity: 0.3;
}

#arithmetic-buttons
{
    width: 90%;
    height: 53%;
    margin: 2vw auto 0 auto;
    /*background-color: dimgray;*/
}

#add-sub-buttons
{
    width: 20%;
    height: 100%;
    /*background-color: red;*/
    display: inline-block;
    float: left;
}

#num-buttons
{
    width: 60%;
    height: 100%;
    /*background-color: green;*/
    display: inline-block;
    float: left;
}

.num-button
{
    margin: 2.16%;
    width: 29%;
    height: 21%;
    display: inline-block;
    float: left;
    background-color: rgb(254, 23, 189);
    border: .5vw solid rgb(32, 61, 93);
    color: rgb(255, 133, 239);
    box-sizing: border-box;
}

#mul-div-buttons
{
    width: 20%;
    height: 100%;
    /*background-color: blue;*/
    display: inline-block;
    float: left;
}

.vertical-button
{
    margin-top: 7%;
    margin-bottom: 5%;
    width: 94%;
    background-color: rgb(255, 169, 53);
    height: 45%;
    border: .5vw solid rgb(32, 61, 93);
    box-sizing: border-box;
}